.button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin: 1rem auto;
  font-weight: bold;
}

.button:hover,
.button:active {
  background: #741188;
  border-color: #741188;
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
