.dot {
  height: 10rem;
  width: 10rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.dot.red {
  background-color: #f00;
}

.dot.green {
  background-color: #0f0;
}

.button {
  font: inherit;
  cursor: pointer;
  display: block;
  padding: 0.5rem 1rem;
  /* border: 1px solid #40005d; */
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin: 1rem auto;
  font-weight: bold;
}

.step-button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1rem;
  /* border: 1px solid #40005d; */
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin: 1rem auto;
  font-weight: bold;
}